#bg2{
	position:relative;
	background-image: url(img/sichuan/bg2_02.png);
	width: 750px;
	height: 1206px;
}
.border3{
	position: absolute;
	border: 2px solid #e09527;
	border-radius: 8px;
	background-color: #ffd820;
	margin-top: 88px;
	margin-left: 41px;
	width: 656px;
	height: 868px;
	z-index:1;
}
.border4{
	position: relative;
	border: 3px solid #E09527;
	border-radius: 8px;
	background-color: #FFFFFF;
	margin-top: 22px;
	margin-left: 17px;
	width: 616px;
	height: 818px;
}
.img3{
	position: absolute;
	margin-top: 28px;
	margin-left: 54px;
}
.img4{
	position: absolute;
	margin-top: 286px;
	margin-left: 54px;
}
.img5{
	position: absolute;
	margin-top: 549px;
	margin-left: 54px;
}
.logo1{
	position: absolute;
	margin-top: 20px;
	margin-left: 304px;
}
.img6{
	position: absolute;
	margin-top: 935px;
	margin-left: 35px;
}
.btn2{
	position: absolute;
	font-family: "微软雅黑";
	font-size: 44px;
	border: none;
	background: url(img/sichuan/btn8.png) no-repeat;
	margin-top: 1037px;
	margin-left: 250px;
	padding-bottom: 20px;
	width: 254px;
	height: 100px; 
	color: #ffffff;
}
			
